.cmd {
  padding: 10px;
  width: 160px;
  min-width: 160px;
  height: 100px;
  min-height: 100px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.title {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.description {
  font-size: 1rem;
  margin: 0;
  line-height: 1em;
  height: 2em;
  word-break: break-all;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}
