.device-select {
  appearance: none;
  height: 48px;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  outline: none;
  text-align: center;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 25px 25px 40px #b3b3b3, -25px -25px 40px #ffffff;
  transition: all 0.5s;
}

.device-select:hover {
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 25px 25px 40px #b3b3b3, -25px -25px 40px #ffffff;
}

.select-options {
  display: none;
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 25px 25px 40px #b3b3b3, -25px -25px 40px #ffffff;
  border-radius: 10px;
  z-index: 1;
}
