@keyframes fadeIn {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.modal-dialog {
  width: 720px;
  height: 480px;
  border-radius: 10px;
  transform: scale(1);
  border-style: none;
  outline: none;
  cursor: pointer;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 20px 20px 100px #707070, -20px -20px 100px #ffffff;
  animation: fadeIn 0.3s ease-in-out;
}
